<!DOCTYPE html>
<html lang="en">
<head>
  <title>写文章</title>
  <%- include head %>
</head>
<body>

<%- include('header', {username: doc.username}) %>


<div class="article">
	<form action="/articles/write" method="post">

    <input type="hidden" name="username" value="<%= doc.username %>">
    <input type="hidden" name="id" value="<%= doc._id %>">

		<input type="text" name="title" placeholder="请输入文章标题" value="<%=doc.title%>">
    <input type="text" name="content" placeholder="请输入内容" value="<%=doc.content%>">
		<!-- <textarea name="content" class="xheditor"><%- doc.content %></textarea> -->
    <% if (doc._id) { %>
      <input type="submit" value="修改">
    <% } else { %>
      <input type="submit" value="发布">
    <% } %>
	</form>
</div>


</body>
</html>
